[Desktop Entry]
Name=Flmsg
GenericName=Amateur Radio Digital Modem
Comment=Amateur Radio Sound Card Communications
Exec=flmsg
Icon=flmsg
Terminal=false
Type=Application
Categories=Network;HamRadio;
