[Desktop Entry]
Name=BPQ Config Generator
GenericName=BPQ Config Generator
Comment=Config File Generator for LinBPQ
Exec={{ ansible_env.HOME }}/linbpq/piBPQConfigGen
Terminal=false
Type=Application
Categories=Utility
